<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Result</title>
</head>
<body>

    <div id="container">
        <h1>Información enviada</h1>
        <h2>Nombre: <%=results.nombre%></h2>
        <h2>Ubicación del dojo: <%=results.ubicacion%></h2>
        <h2>Lenguaje Favorito: <%=results.lenguaje%></h2>
        <h2>Comentario: <%=results.comentario%></h2>
        <a href="/"><button>Volver atrás</button></a>
    </div>

    
</body>
</html>